body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.active {
  background: #F7941D;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}


header .top-header {
  padding: 12px 0px;
  border-bottom: 1px solid #eee;
}

header .top-header a {
  color: #333;
  font-size: 13px;
  font-weight: 500;
  border-right: 1px solid #f0f0f0;
  padding: 0px 13px;
  transition: color 0.2s ease-in-out;
}

header .top-header a:first-child {
  padding-left: 0;
}

header .top-header a:last-child {
  padding-right: 0;
  border-right: none;
}

header .top-header a:hover {
  color: #F7941D;
}

header .top-header a i {
  margin-right: 4px;
  font-size: 15px;
  color: #F7941D;
}

header .bottom-header {
  padding: 25px 0;
}



header .bottom-header form {
  border: 1px solid #ececec;
  border-radius: 5px;
  height: 50px;
  overflow: hidden;
}

header .bottom-header select,
header .bottom-header input,
header .bottom-header button {
  border: none;
  outline: none;
  padding: 10px;
}

header .bottom-header select {
  width: 150px;
  font-size: 14px;
  border-right: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
}

header .bottom-header input {
  font-size: 14px;
  padding-left: 10px;
  border-right: 1px solid #ccc;
  width: 328px;
}

header .bottom-header button {
  font-size: 18px;
  padding: 10px 20px;
  background: #333333;
  color: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background 0.2s ease-in-out;
}

header .bottom-header button i {
  font-size: 16px;
}

header .bottom-header button:hover {
  background: #F7941D;
}

header .bottom-header .right-bar a {
  margin-right: 25px;
  font-size: 20px;
  color: #333;
  transition: color 0.2s ease-in-out;
}

header .bottom-header .right-bar a:last-child {
  margin-right: 0;
}

header .bottom-header .right-bar a:hover {
  color: #F7941D;
}

header .bottom-header .right-bar .total-count {
  top: -7px;
  right: -8px;
  background: #f6931d;
  width: 18px;
  height: 18px;
  text-align: center;
  color: #fff;
  border-radius: 100%;
  font-size: 11px;
}

header nav {
  background: #333;
}

header nav ul li {
  margin-right: 30px;
}

header nav ul li button {
  background: #f6931d;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 25px;
}

header nav ul li button i {
  color: #fff;
}

header nav ul li a {
  color: #fff;
  font-size: 15px;
  padding: 22px 12px;
  font-weight: 500;
  transition: background 0.2s ease-in-out;
}

header nav ul li a:hover {
  background: #f6931d;
}

header nav ul li .new {
  display: block;
  top: -18px;
  right: 0;
  background: #f6931d;
  font-weight: 500;
  font-size: 9px;
  color: #fff;
  padding: 2px 9px;
}

header nav ul li .new::before {
  position: absolute;
  content: "";
  left: 4px;
  bottom: -8px;
  border: 4px solid #F7941D;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}